@inherits LayoutComponentBase




@inject NavigationManager navManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a class="btn btn-none text-danger" @onclick="LogoutClicked">LOGOUT</a>

                </Authorized>
                <NotAuthorized>
                    <a class="btn btn-none" href="identity/account/login">LOGIN</a>
                    <a class="btn btn-none" href="identity/account/register">REGISTER</a>

                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    private async Task LogoutClicked()
    {
        var logOutModel = new UserSessionDTO();
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(logOutModel);
        navManager.NavigateTo("/", forceLoad: true);
    }

}




