@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase

@attribute [Authorize]


@inject NavigationManager navManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <ODIN.Client.Pages.OtherPages.ProfileDropdown>

            </ODIN.Client.Pages.OtherPages.ProfileDropdown>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<Syncfusion.Blazor.Popups.SfDialogProvider />

@code {

    private async Task LogoutClicked()
    {
        var logOutModel = new UserSessionDTO();
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(logOutModel);
        navManager.NavigateTo("/", forceLoad: true);
    }

}




