
@inject NavigationManager navManager


<div class="btn-group">
    <img width="30" height="40"/>
    <button type="button" class="btn btn-none border-0 dropdown-toggle-split" data-bs-toogle="dropdown"
    aria-expanded="false">
        <span class="visually-hidden">Toggle Dropwdown</span>
    </button>

    <ul>
        <li>
            <div class="card">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a class="text-primary fw-bold float-start text-decoration-none">
                                <i class="bi bi-person-gear"></i>
                                Profile
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="card-footer">
                    <button class="btn btn-danger btn-sm fw-bold w-100" @onclick="LogoutClicked">
                        <i class="bi bi-box-arrow-left"></i>
                        Logout
                    </button>
                </div>

            </div>
        </li>
    </ul>
</div>

@code {
    public string ProfileImage { get; set; } = "";

    async Task LogoutClicked()
    {
        var logoutModel = new UserSessionDTO();

        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(logoutModel);
        navManager.NavigateTo("/identity/account/login", replace: true, forceLoad: true);


    }


}
